@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:200,300,400,500,600,700,800,900&display=swap&subset=latin-ext');

:root
{
    --bojaJedan:#6E7DA2;
    --bojaDva:#DB996C;
    --bojaTri:#FCF8F3;
    --bojaCetiri:#AEDADD;
    --bojaA:#6E7DA2;
    --bojaB:#DB996C;
    --bojaC:#FCF8F3;
    --bojaD:#AEDADD;
}


html
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Saira Extra Condensed', sans-serif;
}

body
{
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

a 
{
    text-decoration: none;
}

ol,ul,li
{
    list-style-type: none;
}


.kontenjer
{
    /* background-image: linear-gradient(lightblue,rgb(85, 85, 114)); */
    position: relative;
    height: 100%;
    max-width: 2000px;
    margin: 0 auto;
    overflow: hidden;
    
}

 /* .kontenjer::before 
{
    content: "";
    background-image: linear-gradient(var(--compl-color),var(--compl-color-2));
     background-image: url('../images/white-pattern-wallpaper.png'); 
    background-image: url('../images/air-atmosphere-blue-blue-sky-314726.jpg');
    opacity: 0.6;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1000;
}  */

.header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bojaJedan);
    height: 12%;
    font-size: 1.2em;
}

.logo
{
    margin: 0px 21px;
}

.logo img
{
    margin: 8px auto 8px auto;
    height: 90%;
    width: auto;
}

.divider
{
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    border-left: thin solid var(--bojaTri);
}

a:link 
{
color: var(--bojaDva);
}

/* visited link */
a:visited 
{
color:var(--bojaTri);
}

/* mouse over link */
a:hover 
{
color: var(--bojaDva);
text-shadow: 1px 1px var(--bojaJedan);
font-weight: bold;
}

/* selected link */
a:active 
{
color: var(--bojaC);
font-weight: bold;
}

.login
{
    margin: 20px;
    font-family: 'Bree Serif', serif;
    font-weight: normal;
    font-size: 20px;
}

.top-right {
    margin-right: 25px;
    margin-top: 15px;
    height: 47px;
    text-shadow: 1px 1px black;
}

.main
{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 88%;
    overflow: hidden;
    margin: 0 auto;
    background-color: var(--bojaTri);
}

.glavna
{
    /* NE DIRAJ */
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex: 1 1 auto;
    /* END NE DIRAJ */
    padding: 20px;
}

/* .glavna::after
{
    content:' ';
    display: block;
    height: 80px;
    width: 100%;
} */

.glavna::-webkit-scrollbar
{
    /* mora nesto da bude upisano u -scrollbar ; mora da bude povezano
    sa elementom koji ima scrolbar */
    /* background-color: green; */
    width: 15px;
}

.glavna::-webkit-scrollbar-thumb
{
    border-radius: 6px;
    background-color: var(--bojaB);
}

.glavna::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px;
    background-color: white;
}

.mainContent
{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.contentOptions
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
    margin: 50px;
}
.contentItems
{
    display: flex;
    flex-direction: row;
}
.optionsItems
{
    width: 300px;
    height: 150px;
    margin: 20px;
    padding: 5px;
    justify-items: center;
    border: thin solid var(--bojaTri);
    background-color: var(--bojaCetiri);
}
.weather{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.weatherItems
{   
    width: 980px;
    padding: 5px;
    margin: 20px;
    border: thin solid var(--bojaTri);
    background-color: var(--bojaCetiri);
}

.karton
{
    display: grid;
    grid-template-columns: 520px 520px;
    border: 1px solid var(--bojaC);
    background: var(--bojaA);
    color: white;
    /* text-shadow: 2px 1px #778899; */

}

.karton .pacijent-info h1
{
    margin: 0px auto 0px auto;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 600;
}

.karton .karton-info p
{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 22px;
    font-weight: 400;
}

.patient-list
{
    margin: 50px;
}

table
{
    width: 1040px;
    border: 1px solid var(--bojaC);
    margin: 20px auto 20px;
    border-collapse: collapse;
    font-family: 'Saira Extra Condensed', sans-serif;
    max-width: 1400px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.1);
}

table:last-of-type
{
    margin-bottom: 100px;
}

tr
{
    background-color:  var(--bojaB);
    border-bottom: 1px solid var(--bojaD);
}

tr:nth-child(2n)
{
    background-color: white;
}

th
{
    color: white;
    background-color: var(--bojaA);
    padding: 15px 15px;
    font-size: 20px;
    font-weight: 500;
    text-shadow: 1px 1px black;
}

td
{
    padding: 3px 5px;
}

table tr td
{
    font-weight: normal;
}

table a:link
{
    color: black;
}

table a:visited
{
    color: black;
}

table a:hover
{
    color: var(--bojaD);
    font-weight: bold;
}

table a:active
{
    color: var(--bojaD);
    font-weight: bold;
}

h1,h2,h3,h4,h5,h6
{
    margin: 0px auto 20px auto;
    padding: 5px;
}

.pacijent-info
{
    margin-left: 30px;
    text-align: left;
}

.karton-info
{
    text-align: left;
}

/* .dodaj-posetu
{
    margin-top: 80px;
} */

.izmeni-karton
{
    margin-top: 80px;
}

.tabela-karton
{
    margin-top: 50px;
}

.tabela-karton caption
{
    font-size: 40px;
}

form, .forma
{
    background-color: var(--bojaA);
    border: 1px solid var(--bojaC);
    margin: 20px auto;
    padding: 20px;
    max-width: 1280px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 1em;
    font-weight: 400;
}

form *
{
    padding: 2px;
    margin: 3px;
}

.forma *
{
    padding: 2px;
    margin: 3px;
}


button,#dugme
{
    width: 60px;
    padding: 5px;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 1em;
    font-weight: 400;
    transition: all 0.3s;
    border: 1px solid var(--bojaD);
    border-radius: 8px;
}

#dugme
{
    padding: 20px 30px;
    max-width: 400px;
}

#dugme2
{
    padding: 10px 15px;
}

.dugmeRezervisi
{
    box-shadow: 0 0 0 black;
    overflow: hidden;
}


button:hover
{
    cursor: pointer;
    box-shadow: 0px 0px gray;
    background-color: var(--bojaD);
    color: white;
    transform: translate(2px,2px);
    border-top: 1px solid #778899;
    border-left: 1px solid #778899;
    
}

#dugme:hover
{
    cursor: pointer;
    box-shadow: 0px 0px gray;
    background-color: var(--bojaC);
    color: white;
    transform: translate(2px,2px);
    border-top: 3px solid var(--bojaC);
    border-left: 3px solid var(--bojaC);
}

#dugme2:hover
{
    cursor: pointer;
    box-shadow: 0px 0px gray;
    background-color: var(--bojaD);
    color: white;
    transform: translate(2px,2px);
    border-top: 3px solid var(--bojaD);
    border-left: 3px solid var(--bojaD);
}

.dugmeRezervisi:hover
{
    transform: translate(0px,0px);
    border: 2px solid black;
}
.linkDugme
{
    margin-right: 20px;
}

.hidden
{
    visibility: hidden;
}

.disapear
{
    display:none;
}

.kartica
{
    position: absolute;
    top: 30%; left: 35%;
    height: 180px; width: 250px;
    background-color: var(--bojaA);
    z-index: 10;
    padding: 5px;
    box-shadow: 2px 5px 10px rgba(0,0,0,0.5);
    transition: 0.3s;
}

.kartica:hover
{
    box-shadow: 2px 10px 20px rgba(0,0,0,0.5);
}

.info_rez
{
    font-size: 1.4em;
    color: var(--bojaA);
    margin: 30px auto;
}

.bckRed
{
    background-color: var(--bojaB);
    border: 1px solid var(--bojaD);
    font-weight: bold;
}

.response
{
    
    background-color: var(--bojaA);
    width: 60%;
    margin: 10px auto;
    padding: 10px;
}

.response2
{
    
    background-color: var(--bojaA);
    width: 60%;
    margin: 10px auto;
    padding: 10px;
}


.flexRow
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px auto 5px;
    flex-wrap: wrap;
}

.flexColumn
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sveRez
{
    max-width: 490px;
    margin: 20px auto;
}

.formZakazivanje
{
    background-color: var(--bojaA);
    max-width: 2000px;
    /* width: 100%; */
    margin: 20px auto;
    padding: 5px;
    border-radius: 6px;
    
}

textarea
{
    width: 90%;
}

.formAddKM
{
    max-width: 500px;
    margin: 20px auto;
    border: 1px solid black;
    border-radius: 6px;
}

.margin_5
{
    margin: 5px;
}

.margin_20
{
    margin: 20px;
}

.modelsWraper
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1280px;
    margin: 20px auto;
}

.card
{
    min-width: 531px;
    max-width: 600px;
    /* max-height: 182px; */
    height: 182px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    background-color: var(--bojaA);
    /* padding: 0px 2px 2px 0px; */
    box-shadow: 2px 5px 10px rgba(0,0,0,0.5);
    transition: 0.2s;
}

.cardDisapear
{
    display: none;
    flex-direction: unset;
}

.card:hover
{
    box-shadow: 2px 10px 25px rgba(0,0,0,0.5);
}

.slicica
{
    width: 50%;
    height: 100%;
}

.opis
{
    text-align: center;
    padding: 15px;
    width: 33.4%;
}

label
{
    padding: 5px;
    min-width: 250px;
}

.modelCardName
{
    font-weight: bold;
    font-size: 1.2em;
    padding-bottom: 20px;
    
}

.top-right a
{
    padding-left: 10px;
}

input
{
    min-width: 240px;
    max-width: 400px;
    width: 100%;
    border: 1px solid #9A0606;
    padding: 2px;
    text-align: center;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 1em;
    font-weight: 400;
}

.linkA a
{
 margin: 10px;
}


.linkA a:link 
{
/* color: var(--main-color); */
color:var(--bojaDva);
font-weight: bold;
}

/* visited link */
.linkA a:visited 
{
/* color: var(--main-color); */
color:var(--bojaDva);
font-weight: bold;
}

/* mouse over link */
.linkA a:hover 
{
color: var(--bojaDva);
font-weight: bold;
}

/* selected link */
.linkA a:active 
{
color: var(--bojaC);
font-weight: bold;
}

.errorBorder
{
    border: 2px solid var(--link-hover);
}

p
{
    margin: 2px;
}

.containerNama
{
    display: flex;
    color: white;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    padding: 5px 25px;
}

.slikaNama
{
    margin-right: 10px;
    border-radius: 20px;
    width: 35%;
    min-width: 500px;
}

.slikaNama img
{
    border-radius: 20px;
    width: 100%;
}

.textNama
{
    text-align: justify;
    padding: 0px 5px;
    margin-bottom:20px;
    width: 60%;
}

.w33
{
    width: 33.3%;
}

.w50
{
    width: 50%;
}

.w100
{
    width: 100%;
}

/* Ne sme da se brise */
#filter
{
    min-width: 100px;
    max-width: 300px;
}

.inputCheckBox
{
    width: auto;
    min-width: 100px;
    padding: 0px;
}

.white
{
    color: white;
}

.date
{
    min-width: 105px;
}

.cardAd
{
    min-width: 331px;
    max-width: 531px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    background-color: var(--bojaA);
    width: 531px;
    height: 182px;
    margin: 20px;
    justify-content: flex-start;
}

.slicicaAd
{
    width: 56.5%;
    height: 100%;
}

.opisAd
{
    width: 43.5%;
    text-align: center;
    padding: 15px;
}

.padding_top_20
{
    padding-top: 20px;
}

.cenaOpisCard
{
    color: var(--link-hover);
}

.posZaht
{
    cursor: pointer;
}

.posZaht:hover
{
    color: var(--link-hover);
}

.margin_top_20
{
    margin-top: 20px;
}

.margin_top_40
{
    margin-top: 40px;
}

.img_drust
{
    width: 50px;
    height: 50px;
    margin: 5px;
}

.img_drust_m
{
    width: 40px;
    height: 40px;
    margin: 5px;
}

/*  */

.ugnjezdena_tabela
{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.hidden
{
    border: 1px solid var(--bojaC);
    opacity: 0.5;
    background-color: var(--bojaA);
}

.flexRow
{
    display: flex;
    justify-content: center;
}

.upis
{
    background-color: var(--bojaA);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 100px;
    justify-content: center;
    max-width: 1280px;
    margin: 5px auto;
}

.donje
{
    text-align: center;
    background-color: var(--bojaB);
}

aside
{
   background-color:var(--bojaDva);
   padding: 5px;
   flex:0 0 150px;
}

aside label
{
    width: 100%;
}

aside ul
{
    margin-left: 40px;
    font-size: 1.2em;
}

.nav-btn{
    height: 70px;
    width: 70px;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
}
.nav-hospital:first-of-type
{
    margin-top: 90px;
}
.nav-btn:hover{
    background: var(--bojaC);

}
.nav-btn i{
    margin: 0 10px;
}
.btn-icons
{
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
}
.records
{
    font-size: 35px;
    color: var(--bojaJedan);
}

.grid-weather
{
    display: grid;
    grid-template-columns: fit-content(250px)  250px;
    width: 500px;
    height: 250px;
    border: 1px solid var(--bojaC);
    border-radius: 25px;
    background-color: var(--bojaA);
    font-family: 'Bree Serif', serif;
    font-weight: normal;
}
.grid-weather div
{
    margin: 10px;
}

.grid-weather .city p:first-of-type
{
    font-size: 35px;
}
.grid-weather .city select
{
    margin-top: 10px;
    width: 120px;
    border: 1px solid black;
    border-radius: 5px;
}
.grid-weather .city p:last-of-type
{
    margin-top: 20px;
    font-size: 20px;
}
.grid-weather .city span
{
    font-size: 20px;
    
}
.grid-weather .city span img
{
    margin-top: 30px;
}
.grid-weather .weather span
{
    font-size: 40px;
}

.vueApi div.vreme p 
{
    font-size: 60px;
}

.nw
{
    flex-wrap: nowrap;
}

.showVisit
{
    background-color: var(--bojaB);
    border: 2px solid var(--bojaC);
}

