@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:200,300,400,500,600,700,800,900&display=swap&subset=latin-ext');

:root
{
    --bojaJedan:#6E7DA2;
    --bojaDva:#DB996C;
    --bojaTri:#FCF8F3;
    --bojaCetiri:#AEDADD;
    --bojaA:#6E7DA2;
    --bojaB:#DB996C;
    --bojaC:#FCF8F3;
    --bojaD:#AEDADD;
}

/* mouse over link */
a:hover 
{
/* color: var(--bojaC);
font-weight: bold; */
}

/* selected link */
a:active 
{
/* color: var(--bojaC);
font-weight: bold; */
}

.main
{

}

.mainContent
{
    /* display: flex; */
}
.contentOptions
{
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 800px;
    margin: 20px; */
}
.optionsItems
{

}

select/* #selectorGrad */
{
    
    font-size: 1em;
    font-weight: 400;
}

.karton
{

}

.karton .pacijent-info h1
{

}

.karton .karton-info p
{
    /* margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 22px;
    font-weight: 400; */
}

.patient-list
{
    margin: 50px;
}

table
{
    width: auto;
    border: 1px solid var(--bojaC);
    margin: 20px 5%;
    border-collapse: collapse;
    font-family: 'Saira Extra Condensed', sans-serif;
    max-width: 1400px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.1);
}

table:last-of-type
{
    /* margin-bottom: 100px; */
}

tr
{
    /* background-color:  var(--bojaB);
    border-bottom: 1px solid var(--bojaD); */
}

tr:nth-child(2n)
{

}

th
{
    /* color: white;
    background-color: var(--bojaA);
    padding: 15px 15px;
    font-size: 20px;
    font-weight: 500;
    text-shadow: 1px 1px black; */
}

td
{
    /* padding: 3px 5px; */
    
}

table tr td
{
    /* font-weight: normal;
    text-align: center; */
}

table a:link
{

}

table a:visited
{

}

table a:hover
{

}

table a:active
{

}

form *
{
    /* padding: 2px;
    margin: 3px; */
}

.forma *
{
    /* padding: 2px;
    margin: 3px; */
}

form, .forma {
    background-color: var(--bojaA);
    border: 1px solid var(--bojaC);
    margin: 20px 5%;
    padding: 20px;
    max-width: 1280px;
    
}

.okvir1 {
    display: flex;
    /* border: 1px solid black; */
    margin: 0px;
    height: 51px;

}
.okvir11 {
    display: flex;
    justify-content: flex-end;
    width: 20%;
    /* border: 1px solid black; */
    margin: 0px;
}

.okvir12 {
    display: flex;
    justify-content: flex-start;
    width: 80%;
    margin: 0px;
}

.formaIzbor {
    height: 35px;
}

button,#dugme
{
    width: auto;
    box-shadow: none;
}

#dugme
{
    /* padding: 20px 30px;
    max-width: 400px; */
}

#dugme2
{
    /* padding: 10px 15px; */
}


button:hover
{
    
}

#dugme:hover
{

}

#dugme2:hover
{

}

.dugmeUnos
{
    /* padding: 20px 30px;
    max-width: 400px; */
}

.linkDugme
{
    margin-right: 5%;
    margin-left: 5%;
}

.linkDugmeIzmeni
{
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-position: 4px;
}

.hidden
{
    /* visibility: hidden; */
}


.flexRow
{
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px auto 5px;
    flex-wrap: wrap; */
}

.flexColumn
{
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start; */
}


.margin_5
{
    /* margin: 5px; */
}

.margin_20
{
    margin: 20px 5%;
    width: auto;
}


.top-right a
{
    /* padding-left: 10px; */
}

.osobFilter
{
    padding: 0px;
    margin-bottom: 5px;
}

label
{
    padding: 4px;
    min-width: 0%;
}

#label1
{
    padding: 0px;
    min-width: 0%;
}

#label2
{
    padding: 0px;
    min-width: 0%;
}

#dateRodj
{
    min-width: 250px;
    height: 35px;
    margin: auto;
}

#dateRodj2
{
    min-width: 250px;
    height: 35px;
    margin: auto;
}

input {
    border: 1px solid var(--bojaD);
    border-radius: 8px;
    max-width: 100%;
}





