@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:200,300,400,500,600,700,800,900&display=swap&subset=latin-ext');

:root
{
    --bojaJedan:#6E7DA2;
    --bojaDva:#DB996C;
    --bojaTri:#FCF8F3;
    --bojaCetiri:#AEDADD;
    --bojaA:#6E7DA2;
    --bojaB:#DB996C;
    --bojaC:#FCF8F3;
    --bojaD:#AEDADD;
}

h1
{
    padding: 0px;
}

.prijava
{
    margin: 0px 30%;
}

.prijavaPot
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid black;
    margin: 0px 30%;
    height: 200px;
    background-color: var(--bojaA);
}

.inPrijava
{
    width: 100%;
    min-width: 0px;
}

.divPrijava
{
    padding: 0px 30%;
    width: auto;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
}

.dugmePrijava
{
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px 30px;
    width: 1000px;
    max-width: 400px;
}

.passReq
{
    padding: 0px 15%;
    width: auto;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
}

.viSteLogovani
{
    margin: auto;
    font-size: 20px;
    font-weight: 600;
}

select
{
    color: var(--bojaA);
    background-color: var(--bojaTri);
    font-size: 1em;
    font-weight: 500;
    padding-left: 15px;
}

option
{
    margin-left: 35px;
}

.patient-list
{
    margin: 50px;
}

table
{
    width: auto;
    border: 1px solid var(--bojaC);
    margin: 20px 5%;
    border-collapse: collapse;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 500;

    max-width: 1400px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.1);
}

form *
{
    /* padding: 2px;
    margin: 3px; */
}

.forma *
{
    /* padding: 2px;
    margin: 3px; */
}

form, .forma {
    background-color: var(--bojaA);
    border: 1px solid var(--bojaC);
    margin: 20px 5%;
    padding: 20px;
    max-width: 1280px;
    
}

.okvir1 {
    display: flex;
    /* border: 1px solid black; */
    margin: 0px;
    /* height: 51px; */

}
.okvir11 {
    color: var(--bojaTri);
    display: flex;
    justify-content: flex-end;
    width: 20%;
    /* border: 1px solid black; */
    margin: 0px;
}

.okvir12 {
    display: flex;
    justify-content: flex-start;
    width: 80%;
    margin: 0px;
}

.jmbg
{
    max-width: 250px;
}

.formaIzbor {
    height: 37px;
}

.formCheckInput{
    min-width: 16px;
    position: inherit;
    /* vertical-align: middle; */
    margin-top: 14px;
    max-width: 0%;
    height: 16px;
}

.remember
{
    color: var(--bojaTri);
}
button,#dugme
{
    width: auto;
    box-shadow: none;
    border-radius: 8px;
    font-weight: 500;

}

#dugme
{
    /* padding: 20px 30px;
    max-width: 400px; */
}

#dugme2
{
    /* padding: 10px 15px; */
}

button:hover
{
    
}

#dugme:hover
{

}

#dugme2:hover
{

}

.dugmeUnos
{
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px 30px;
    max-width: 400px;
}

.linkDugme
{
    margin-right: 5%;
    margin-left: 5%;
    vertical-align: middle;
}

.izlistaj
{
    margin-top: 10px;
}


.linkDugmeIzmeni
{
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-position: 4px;
    vertical-align: middle;
}

.linkIzmeni
{
    background-image: url('/images/pencil.png');
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-position: 4px;
    vertical-align: middle;
}

.obrisi
{
    background-image: url('/images/trooper.png');
    background-size: 32px;
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-position: 0.5px;
    vertical-align: middle;
}

.flexColumn
{
    padding-top: 0px;

    /* display: flex;
    flex-direction: column;
    justify-content: flex-start; */
}

.margin_20
{
    margin: 0px 5% 20px 5%;
    width: auto;
}

.divUnos
{
    padding: 0px 30%;
    margin: 20px 0px 0px 0px;
    width: auto;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
}

.osobFilter
{
    padding: 0px;
    margin-bottom: 5px;
}

label
{
    padding: 5px 0px ;
    min-width: 0%;
}

#label1
{
    padding: 0px;
    min-width: 0%;
}

#label2
{
    padding: 0px;
    min-width: 0%;
}

#dateRodj
{
    max-width: 250px;
    height: 37px;
    margin: auto;
}

#dateRodj2
{
    max-width: 250px;
    height: 37px;
    margin: auto;
}

#dateRodjEditChart
{
    max-width: 250px;
    height: 37px;
    margin: auto;
}

#dateRodj2EditChart
{
    max-width: 250px;
    height: 37px;
    margin: auto;
}

input {
    color: var(--bojaA);
    font-weight: 500;
    background-color: var(--bojaTri);
    border: 1px solid var(--bojaD);
    border-radius: 8px;
    max-width: 100%;
    height: 37px;
    padding: 5px 5px 5px 15px;
}

::placeholder
{
    color: var(--bojaA);
}

input:active 
{
    border-radius: 8px;
}

input:focus
{
    border-color: rgb(102, 175, 233);
    border-radius: 8px;
    outline: 0;
}}


.cardDisapear
{
    display: none;
    flex-direction: unset;
}



