
:root
{
    --bojaA:#6E7DA2;
    --bojaB:#DB996C;
    --bojaC:#FCF8F3;
    --bojaD:#AEDADD;
    
}

.r_scroll
{
    width: 100%;
    height: 70vh;
    text-align: center;
    overflow: auto;
    margin: 5px auto;
}

.r_scroll::-webkit-scrollbar
{
    /* mora nesto da bude upisano u -scrollbar ; mora da bude povezano
    sa elementom koji ima scrolbar */
    /* background-color: green; */
    width: 15px;
}

.r_scroll::-webkit-scrollbar-thumb
{
    border-radius: 6px;
    background-color: var(--bojaC);
}

.r_scroll::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px;
    background-color: white;
}

.r_pacijent
{
    display: grid;
    min-width: 500px;
    grid-template-columns: repeat(5,minmax(50px,300px));
    margin: 5px auto;
    background-color: var(--bojaB);
    padding: 3px;
    border-radius: 3px;
}

.r_pacijent:hover
{
    cursor: pointer;
}

.r_karton
{
    
}

.r_osnovni
{
    border: 1px solid var(--bojaB);
    background-color: var(--bojaA);
    width: 70%;
    margin: 5px auto;
}

.r_visit
{
    border: 3px solid var(--bojaC);
    background-color: var(--bojaB);
    margin: 0px auto 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.r_visit:hover
{
    cursor: pointer;
}

.r_treatmant
{
    background-color: var(--bojaA);
}

.r_naslov
{
    color: var(--bojaC);
    margin: 2px auto 10px;
}

.r_oneVisit
{
   
}

.r_oneVisit:hover
{
    box-shadow: 2px 10px 20px rgba(0,0,0,0.5);
    /* cursor: pointer; */
}

.prazan
{
    position:relative;
}

.flexRowRight
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.r_visit_form
{
    background-color: var(--bojaB);
    position: absolute; 
    top:20%;
    left:20%;
    border: 3px solid var(--bojaD);
    width:940px;
    height: 580px;
    overflow: auto;
}

.r_visit_form::-webkit-scrollbar
{
    /* mora nesto da bude upisano u -scrollbar ; mora da bude povezano
    sa elementom koji ima scrolbar */
    /* background-color: green; */
    width: 15px;
}

.r_visit_form::-webkit-scrollbar-thumb
{
    border-radius: 6px;
    background-color: var(--bojaC);
}

.r_visit_form::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px;
    background-color: white;
}