<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .disapear
        {
            display: none;
        }
    
    
    </style>
</head>
<body>
        <!-- visak->ID,ime,prezime,datum_rodj,istorija_bolesti, alergija_lek -->

        <!-- forma za izmenu ce imati i: -->

        <!-- <input type="number" name='id' value="ucitano" readonly required> -->

        <!-- i ostatak nije requred -->

        <form action="#" method="POST">
            @csrf
            Broj Kartona <input type="number" name='id' value="ucitano" readonly required>
            Ime <input type="text" name="ime" value="ucitano" >
            Prezime <input type="text" name="prezime" value="ucitano">

            <!-- ovo je duplo zato da bi menjalo izgled datuma na naski -->
            <label for="dateRodj" id="label1">Datum Rodjenja <input type="date" name="dat_rodjenja" value="2019-12-08" id="dateRodj" requred></label>
            <label for="dateRodj2" id="label2" class="disapear">Datum Rodjenja <input type="text" id="dateRodj2"></label>
            
            <textarea name="istorija_bolesti" id="" cols="30" rows="10">ucitano</textarea>
            <textarea name="alergija_lek" id="" cols="30" rows="10">ucitano</textarea>
           
            <input type="submit" value="Posalji">


        </form>

        <script src="biblioteka.js"></script>
        <script>
                let dateStartLabel=document.querySelector('#label1');
                let dateStartLabel2=document.querySelector('#label2');
                let dateStartInput=document.querySelector('#dateRodj');
                let dateStartInput2=document.querySelector('#dateRodj2');
            
                function changeVisibilityStart()
                {
                    dateStartLabel.classList.toggle('disapear');
                    dateStartLabel2.classList.toggle('disapear');
                }
            
                //dogadjaji
                dateStartInput.addEventListener('change',function()
                {
                    changeVisibilityStart();
                    dateStartInput2.value=pf.dateToSerbianFormat(dateStartInput.value);
                })
            
                dateStartInput2.addEventListener('click',function()
                {
                    changeVisibilityStart();
                    dateStartInput.value="";
                    dateStartInput.focus();
                })

                //dodatak, automatsko pozivanje
                changeVisibilityStart();
                dateStartInput2.value=pf.dateToSerbianFormat(dateStartInput.value);
            </script>
</body>
</html>